<link rel="icon" type="image/x-icon" href="icons/leftArrow.png">
<p>Назад</p>
<h1 class="supplyClass">Поставки</h1>
<button (click)="addSupply()" class="button">Добавить поставку</button>

<table class="table table-striped">
  <thead>
  <tr class="tableTop">
  <td>Id</td>
  <td>Id закупки</td>
  <td>Id склада</td>
  <td>Дата </td>
  <td>Товар</td>
  <td>Количество</td>
  <td>Логистика</td>
  <td>Закупка</td>
  <td>Фулфилмент</td>
  <td>Себестоимость</td>
  </tr>
</thead>
  <tbody class="tableBody">
  <tr *ngFor="let supply of supplies">
    <ng-container *ngIf="isReadOnly(supply)">
      <td>{{supply.id}}</td>
      <td>{{supply.purchase.id}}</td>
      <td>{{supply.storage.id}}</td>
      <td>{{supply.date}}</td>
      <td>{{supply.product}}</td>
      <td>{{supply.amount}}</td>
      <td>{{supply.logistics}}</td>
      <td>{{supply.purchasePrice}}</td>
      <td>{{supply.fulfillment}}</td>
      <td>{{supply.costPrice}}</td>
      <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editSupply(supply)">
      </td>
      <td>
        <input type="button" value="Удалить" (click)="deletePurchase(supply.id)" class="btn btn-danger">
      </td>
    </ng-container>
    <ng-container *ngIf="isEditable(supply)">
      <td>
        <input type="number" [(ngModel)]="editedSupply.id" readonly disabled class="form-control">
      </td>
      <td>
        <select [(ngModel)]="editedSupply.purchase" class="form-control">
          <option *ngFor="let purchase of purchases" [ngValue]="purchase">
              {{purchase.id + ", " + purchase.productName}}</option>
        </select>
      </td>
      <td>
          <select [(ngModel)]="editedSupply.storage" class="form-control">
              <option *ngFor="let storage of storages" [ngValue]="storage">
                  {{storage.id + ", " + storage.country.countryName + ", " + storage.town.townName}}</option>
          </select>
      </td>
      <td>
        <input type="number" [(ngModel)]="editedSupply.date" class="form-control">
      </td>
      <td>
        <input type="text" [(ngModel)]="editedSupply.product" class="form-control">
      </td>
      <td>
        <input type="number" [(ngModel)]="editedSupply.amount" class="form-control">
      </td>
      <td>
        <input type="number" [(ngModel)]="editedSupply.logistics" class="form-control">
      </td>
      <td>
        <input type="number" [(ngModel)]="editedSupply.purchasePrice" class="form-control">
      </td>
      <td>
        <input type="number" [(ngModel)]="editedSupply.fulfillment" class="form-control">
      </td>
      <td>
        <input type="number" [(ngModel)]="editedSupply.costPrice" class="form-control">
      </td>
      <td>
        <input type="button" value="Сохранить" (click)="saveSupply()" class="btn btn-success">
      </td>
      <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning">
      </td>
    </ng-container>
    <ng-template [ngTemplateOutlet]="loadTemplate(supply)"
                             [ngTemplateOutletContext]="{ $implicit: supply}">
    </ng-template>
  </tr>
</tbody>
</table>
<div>{{statusMessage}}</div>

