<header class="header">
    <div id="headerText">
        <span class="grioool">
          <a href="http://localhost:4200/main">GRIOOOL</a>
        </span>
        <ul class="menu" *ngIf="isMenuActive()">
            <li>
                <a href="http://localhost:4200/information">Профиль</a>
            </li>
            <li>
                <a href="http://localhost:4200/supplies">Поставки</a>
            </li>
            <li>
                <a href="http://localhost:4200/purchases">Закупки</a>
            </li>
            <li>
                <a href="http://localhost:4200/reports">Отчет о продажах</a>
            </li>
            <li (click)="OnLogout()">
                <a>Выйти</a>
            </li>
        </ul>
    </div>

</header>
