<header class="header">

  <div id="headerText">
    <span class="grioool">
      <a href="http://localhost:4200/main">GRIOOOL</a>
    </span>
    <ul class="menu">
      <li>
        <a href="http://localhost:4200/information">Личная информация</a>
      </li>
      <li>
        <a href="http://localhost:4200/supplies">Поставки</a>
      </li>
      <li>
        <a href="http://localhost:4200/purchases">Закупки</a>
      </li>
      <li>
        <a href="http://localhost:4200/reports">Отчет о продажах</a>
      </li>
    </ul>
  </div>

</header>
