 <div class="container">
    <h1 class="register">Регистрация</h1>

    <input type="text" placeholder="Email" name="email" required>

    <input type="password" placeholder="Пароль" name="psw" required>

    <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>

   <input type="text" placeholder="Название юридического лица" name="psw-repeat" required>

   <input type="text" placeholder="Ключ от WB" name="psw-repeat" required>

   <input type="text" placeholder="Ключ от Ozon" name="psw-repeat" required>

    <p>Регистрируясь на сайте, вы соглашаетесь с нашими Правилами и Политикой конфиденциальности и соглашаетесь на информационную рассылку.</p>
    <button type="submit" class="registerbtn">Зарегистрироваться</button>
    <button type="submit" class="loginbtn">Войти</button>
  </div>

