<persistence-unit name="by.sam_solutions.grigorieva.olga.backend">
    <description>Hibernate EntityManager Demo</description>
    <class>by.sam_solutions.grigorieva.olga.backend.entity.User</class>
    <class>by.sam_solutions.grigorieva.olga.backend.entity.Role</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
        <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQL94Dialect"/>
        <property name="hibernate.hbm2ddl.auto" value="create"/>
        <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
        <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/marketplace"/>
        <property name="javax.persistence.jdbc.user" value="postgres"/>
        <property name="javax.persistence.jdbc.password" value="11111111"/>
    </properties>
</persistence-unit>
