<div class="name">автоматизация маркетплейса</div>

<div class="row">
  <div (click)="routeTo('profile')" class="rectangle">
    <p>Профиль</p>
    <span>Здесь вы можете просмотреть ваш профиль</span>
  </div>
  <div (click)="routeTo('supplies')" class="rectangle">
    <p>Поставки</p>
    <span>Здесь вы можете просмотреть поставки маркетплейса</span>
  </div>
</div>

<div class="row">
  <div (click)="routeTo('purchases')" class="rectangle">
    <p>Закупки</p>
    <span>Здесь вы можете просмотреть закупки маркетплейса</span>
  </div>
  <div (click)="routeTo('reports')" class="rectangle">
    <p>Отчет о продажах</p>
    <span>Здесь вы можете просмотреть отчет о продажах маркетплейса</span>
  </div>

</div>
