<link rel="icon" type="image/x-icon" href="icons/leftArrow.png">
<p>Назад</p>
<h1 class="profileClass">Личная информация</h1>

<div class="container">

  <input type="text" placeholder="Имя" name="name" required>

  <input type="text" placeholder="Email" name="email" required>

  <input type="text" placeholder="Название юридического лица" name="nameC" required>

  <input type="text" placeholder="Ключ от WB" name="wb" required>

  <input type="text" placeholder="Ключ от Ozon" name="ozon" required>

  <button type="submit" class="changebtn">Изменить</button>

  </div>
